{% extends 'main/base.html' %}

{% block title %} Batch view {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="bg-primary text-white border rounded mt-5 mb-2 p-5 text-center">    
            <h3>{{institute}}</h3>
            <h5>{{department}}</h5>
            <h5>({{session}})</h5>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-5 p-5">
        <table class="table table-hover table-dark text-center">
            <thead>
              <tr>
                <th scope="col">Registration No.</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{student.0}}</td>
                    <td>{{student.1}}</td>
                    <td>
                        {% comment %} <a href="/gradesheet/{{institute}}/{{department}}/{{session}}/{{student.0}}"><button class="btn btn-outline-primary mx-2">View</button></a> {% endcomment %}
                        <a href="/download_gradesheet/{{institute}}/{{department}}/{{session}}/{{student.0}}"><button id="download_btn_{{student.0}}" class="btn btn-primary mx-2 download_btn" onclick="print_msg(this.id)">Download</button></a>
                    </td>
                    <td>
                        {% if student.2 %}
                        <span class="text-success"><b>Handed over</b></span>
                        {% else %}
                        <form action="" method="POST"> {% csrf_token %}
                            <input type="hidden" name="reg_no" value={{student.0}}>
                            <button type="submit" class="btn btn-warning">Hand over</button>
                        </form>
                        {% endif %} 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}