{% extends 'main/base.html' %}

{% block title %} Dashboard {% endblock %}



{% block body %}

    <div class="m-5">
        <h4 class="text-primary text-center">Upload Files</h4>
        <div class="d-flex justify-content-center">
            <form method = "post" enctype="multipart/form-data" class="w-50 bg-light border p-5 mx-5 d-flex justify-content-between align-items-center">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="file_upload_form" id="file_upload_form">
                <div class="">
                    <label for="institute">Institute: </label>
                    <select name="institute" id="institute">
                        <option value="Sylhet Engineering College">Sylhet Engineering College</option>
                        <option value="Shahjalal University of Science & Technology">Shahjalal University of Science & Technology</option>
                    </select> <br><br>
                    <label for="department">Department: </label>
                    <select name="department" id="department">
                        <option value="Computer Science & Engineering">Computer Science & Engineering</option>
                        <option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</option>
                        <option value="Civil Engineering">Civil Engineering</option>
                    </select> <br><br>
                    <label for="session">Session: </label>
                    <select name="session" id="session">
                        <option value="2016-17">2016-17</option>
                        <option value="2017-18">2017-18</option>
                        <option value="2018-19">2018-19</option>
                        <option value="2019-20">2019-20</option>
                        <option value="2020-21">2020-21</option>
                        <option value="2021-22">2021-22</option>
                        <option value="2022-23">2022-23</option>
                        <option value="2023-24">2023-24</option>
                        <option value="2024-25">2024-25</option>
                        <option value="2025-26">2025-26</option>
                    </select> 
                </div>
                <div class="bg-secondary" style="height: 12rem;">
                    <p class="text-secondary">.</p>
                </div>
                <div>
                    <input type="file" id="file_upload_input_btn" multiple name="document"/>
                    <button type="submit" id="upload_btn" class="btn btn-primary">Upload</button>
                    <br>
                    <!-- Button trigger modal -->
                    <span type="button" class="text-info" data-toggle="modal" data-target="#InstructionModal"><b>Read instructions</b></span>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="text-center d-flex justify-content-center">
            <h4 class="bg-secondary text-white w-25 m-3 px-2 py-4 border rounded">Previous Gradesheets:</h4>
        </div>
        {% for category in gradesheet_categories %}
            <div class="card bg-light border rounded m-2 float-left" style="width:22rem; min-height:23rem;">
                <div class="m-3 d-flex justify-content-end">
                    <a href="batch_view/{{category.0}}/{{category.1}}/{{category.2}}"> <button class="btn btn-outline-info mr-2">View</button> </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteRecordModal">Remove</button>
                </div>
                <div class="card-body text-primary">
                    <h6 class="text-dark">Institute: </h6>
                    <h5 class="card-title">{{category.0}}</h5>
                    <h6 class="text-dark">Department: </h6>
                    <h5 class="card-title">{{category.1}}</h5>
                    <h6 class="text-dark">Session: </h6>
                    <h5 class="card-title">{{category.2}}</h5>
                    <h6 class="card-text text-danger">Students: {{category.3}}</h6>
                </div>
            </div>

            <!-- Delete Confirmation Modal -->
            <div class="modal fade" id="DeleteRecordModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Are you sure about deleting these records?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            By pressing <span class="text-danger"><b>DELETE</b></span> all grade sheets of this particular category will be erased.
                            <br><br>
                            <h6>Selected category: </h6>
                            <ul class="list-group">
                                <li class="list-group-item">Institute: <span><b>{{category.0}}</b></span></li>
                                <li class="list-group-item">Department: <span><b>{{category.1}}</b></span></li>
                                <li class="list-group-item">Session: <span><b>{{category.2}}</b></span></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="delete_record/{{category.0}}/{{category.1}}/{{category.2}}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Instruction Modal -->
        <div class="modal fade" id="InstructionModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Upload <b>CSV files only</b></li>
                            <li class="list-group-item">You can upload at most <b>8 files</b> (one for each semester)</li>
                            <li class="list-group-item">File names should be named as numbers from <b>1 to 8</b> denoting the semester number. for example- <b>4.csv</b></li>
                            <li class="list-group-item">You need to provide data in a <b>pre-defined and fixed</b> format. Download the excel file template: <a href="#">Click to download</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% block js %}
    <script>
        const fileUploadInputBtn = document.getElementById("file_upload_input_btn");
        fileUploadInputBtn.onchange = change_upload_btn_color;
        const uploadBtn = document.getElementById("upload_btn");
        uploadBtn.disabled = true;

        //event handler when files are selected to be uploaded
        function change_upload_btn_color(){
            uploadBtn.disabled = false;
        }

        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    {% endblock %}

{% endblock %}